@CHARSET "UTF-8";

.footbar .ui-btn .ui-btn-inner { 
	padding-top: 40px !important; 
}
.footbar .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
}
#auteur .ui-icon { 
	background:  url(icones/edit.png) 50% 50% no-repeat; 
	background-size: 24px 22px; 
}
#nouveautes .ui-icon { 
	background:  url(icones/book.png) 50% 50% no-repeat; 
	background-size: 24px 22px; 
}
#paraitre .ui-icon { 
	background:  url(icones/calendar.png) 50% 50% no-repeat; 
	background-size: 24px 22px; 
}
